version: '3.8'

services:
  # 1. Backend Service (Mục tiêu cần bảo vệ)
  backend_container:
    build: ./backend
    # Lưu ý: KHÔNG expose cổng 5000 ra máy thật.
    # Chỉ Kong mới nhìn thấy Backend này (Isolation).

  # 2. Kong Gateway (Người bảo vệ)
  kong:
    image: kong:2.8
    volumes:
      - ./kong.yml:/usr/local/kong/declarative/kong.yml
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/usr/local/kong/declarative/kong.yml
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
    ports:
      - "8000:8000"
      - "8001:8001"