version: "3.9"

services:
  app:
    build: .
    container_name: control_center
    ports:
      - "5002:5002"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: dashboard
    ports:
      - "5432:5432"